$mainColor: rgb(222, 228, 232);
$mainShadow: 2px 4px 4px rgb(35, 33, 33);
$hoverShadow: 2px 4px 4px rgb(108, 106, 106);


.homeContainer {
    background-image: url('./public/homePhoto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
} 

#mainName {
    margin-top: 20vh; 
    color: $mainColor;
    text-shadow: $mainShadow;
    font-size: 7em; 
    transition: text-shadow 0.7s ease;
}

#mainName:hover{
    text-shadow: $hoverShadow;
}

