$mainColor: rgb(222, 228, 232);
$mainShadow: 2px 4px 4px rgb(35, 33, 33);
$hoverShadow: 2px 4px 4px rgb(108, 106, 106);


.homeContainer {
    position: relative;
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    overflow: hidden; 
} 

.backgroundImage{
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100vh; 
    width: 100vw;
    z-index: -1;
    position: absolute;
    opacity: 0;
}

.backgroundImage.loaded{
    opacity: 1;
}

.loadingContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#mainName {
    margin-top: 20vh; 
    color: $mainColor;
    text-shadow: $mainShadow;
    font-size: 7em; 
    transition: text-shadow 0.7s ease;
}

#mainName:hover{
    text-shadow: $hoverShadow;
}